@page "/produtos"
@using CatalogoBD;
@inject HttpClient http

<h3>Produtos</h3>

@if(produtos == null)
{
    <p>Carregando Produtos...</p>
}
else
{
    <table class="table m-4 produtos-table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Imagem</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var produto in produtos)
            {
              <tr>
                  <td>@produto.ProdutoId</td>
                  <td>@produto.Nome</td>
                  <td>@produto.Descricao</td>
                  <td>@produto.Preco</td>
                  <td>@produto.ImgURL</td>
              </tr>
            }
        </tbody>
    </table>
}

@code{
    List<Produtos> produtos = new List<Produtos>();

    protected override async Task OnInitializedAsync()
    {
       
    }
}